* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
list-style: none;

}

.home-conteneir {
   margin: 0 auto;
   max-width: 1180px;
}


.home {
   margin-top: 50px;
   position: relative;
}

.home-title {
   font-size: 50px;
   text-align: center;
   color: cadetblue;
   FONT-WEIGHT: 500;
   text-transform: uppercase;
   text-decoration: none;
}

.home-search {
   padding: 10px;
   width: 275px;
   box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, .2);
   border: 1px solid cadetblue;
}

.home-select {
   padding: 10px;
   width: 150px;
   box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, .2);
   border: 1px solid cadetblue;
}

.home-filter__left {
   display: flex;
   justify-content: space-between;
   width: 670px;
}

.home-filter {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.home-filter__right {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.home-filter__right p {
   color: cadetblue;
   margin: 0 10px 0 0;
}

.quantity {
   width: 60px !important;
}



.home__buttons{
   display: none;
   gap: 5px;
   position: absolute;
   right: 0;
  margin-top: 20px;
  background-color: #fff;
   box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, .2);
}

.home__button{
   cursor: pointer;
   color:cadetblue;
   font-size: 20px;
   padding: 10px;;
}
.home__button:hover{
  background-color: cadetblue;
   color:#fff;
}

.home__link{
   font-size: 21px;
   text-decoration: none;
   color: cadetblue;
}


.CircularProgressbar {
   height: 90px!important;
}

.CircularProgressbar-text{
   font-size: 16px!important;
   fill: cadetblue!important;
}

.CircularProgressbar .CircularProgressbar-path{
   stroke: cadetblue!important;
}