.pokemon-card {
   box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, .2);
   min-height: 271px;
   padding: 12px;
   cursor: pointer;
}

.card__avatar{
   display: flex;
   justify-content: center;
   background: #f1f1f1;
   min-height: 180px;

}
.card__avatar img{
   height: 140px;
   padding: 10px;

}

.card__body-title{
   font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.card__body-id{
   text-align: center;
   margin-top: 2px;
   color: #999;
}

.card__body-type{
   text-align: center;
   color: cadetblue;
   font-size: 18px;
}